.DS_Store
.claude/
assets/images/cover_forever.png
assets/images/cover_in_the_air.png
assets/images/cover_bob_remix.png
assets/images/cover_bob_remix_new.jpg
assets/images/LIFE_CODE_BLACK_BG.jpg
assets/images/setlist.jpg
assets/images/RISE TOGETHER.jpg
assets/images/hero_bg.jpg
assets/audio/Bob Sinclar & Axwell ft Ron Carroll - What A Wonderful World - Greg Cerrone Remix MASTER FINAL - Radio Edit (1).mp3
assets/audio/Bob Sinclar & Axwell ft Ron Carroll - What A Wonderful World - Greg Cerrone Remix MASTER FINAL.mp3
assets/audio/Greg Cerrone & Polina_Alright_Original Mix [LifeCode Records].mp3
assets/audio/bg_music.mp3
